/* if we have media="screen" in the html, we don't *need* this selector */
@media screen {
  body {
    background-color: #ccc;
  }
  .page {
    border: 2px solid black;
    margin: 2em;
  }
  .outer {
    border: 1px dashed grey;
  }
  input.js-number-pages {
    font-size: 20pt;
  }
  .header {
    border: 2px solid black;
    margin-top: 0;
    margin: 2em;
    height: 1in;
    width: 11in;
    position: relative;
    overflow: hidden;
    background-color: white;
  }
  .header.outer {
    border: 2px solid white;
  }
}
